/* css utility file */
/* Ibat Informatics css library */
/* Copyright 2019 */

.ispointer {
	pointer-events: auto;
}

.isnotpointer {
	pointer-events: none;
}

.xfadein {
	opacity: 0;
}

.xfadeout {
	opacity: 1;
}

.overlay {
	opacity: 0;
}

.wgt-opacity:hover .overlay {
	opacity: 1;
}

.image-zoomer {
	transform: scale(1.0);
	-webkit-transform: scale(1.0);
	transition: 2.2s ease-out;
	-webkit-transition: 2.2s ease-out;
}

.image-zoomer:hover {
	transform: scale(2.0);
	-webkit-transform: scale(2.0);
	transition: 5.2s ease-in;
	-webkit-transition: 5.2s ease-in;
}

.xhover-shadow {
	box-shadow: 1px 5px 30px 8px rgba(0,0,0,0.4);
	-webkit-box-shadow: 1px 5px 30px 8px rgba(0,0,0,0.4);
	-moz-box-shadow: 1px 5px 30px 8px rgba(0,0,0,0.4);
	-o-box-shadow: 1px 5px 30px 8px rgba(0,0,0,0.4);
}

.hover-shadow:hover {
	box-shadow: 1px 5px 20px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 1px 5px 20px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 5px 20px 5px rgba(0,0,0,0.3);
	-o-box-shadow: 1px 5px 20px 5px rgba(0,0,0,0.3);
}


.top-layout {
	top: 0;
}

.right-layout {
	right: 0;
}

.bottom-layout {
	bottom: 0;
}

.left-layout {
	left: 0;
}

.top-hide {
	top: -200em;
}

.right-hide {
	right: -200em;
}

.bottom-hide {
	bottom: -200em;
}

.left-hide {
	left: -200em;
}

.neg-top-margin-5 {
	margin-top: -5%;
}

.neg-top-margin-10 {
	margin-top: -10%;
}

.neg-top-margin-15 {
	margin-top: -15%;
}

.neg-top-margin-20 {
	margin-top: -20%;
}

.neg-top-margin-30 {
	margin-top: -30%;
}

.neg-top-margin-40 {
	margin-top: -40%;
}

.neg-top-margin-50 {
	margin-top: -50%;
}

.neg-bottom-margin-5 {
	margin-bottom: -5%;
}

.neg-bottom-margin-10 {
	margin-bottom: -10%;
}

.neg-bottom-margin-15 {
	margin-bottom: -15%;
}

.neg-bottom-margin-20 {
	margin-bottom: -20%;
}

.neg-bottom-margin-30 {
	margin-bottom: -30%;
}

.neg-bottom-margin-40 {
	margin-bottom: -40%;
}

.neg-bottom-margin-50 {
	margin-bottom: -50%;
}

.neg-left-margin-5 {
	margin-left: -5%;
}

.neg-left-margin-10 {
	margin-left: -10%;
}

.neg-left-margin-15 {
	margin-left: -15%;
}

.neg-left-margin-20 {
	margin-left: -20%;
}

.neg-left-margin-30 {
	margin-left: -30%;
}

.neg-left-margin-40 {
	margin-left: -40%;
}

.neg-left-margin-50 {
	margin-left: -50%;
}

.neg-left-margin-60 {
	margin-left: -60%;
}

.neg-left-margin-70 {
	margin-left: -70%;
}

.neg-left-margin-80 {
	margin-left: -80%;
}

.neg-right-margin-5 {
	margin-right: -5%;
}

.neg-right-margin-10 {
	margin-right: -10%;
}

.neg-right-margin-15 {
	margin-right: -15%;
}

.neg-right-margin-20 {
	margin-right: -20%;
}

.neg-right-margin-30 {
	margin-right: -30%;
}

.neg-right-margin-40 {
	margin-right: -40%;
}

.neg-right-margin-50 {
	margin-right: -50%;
}

.neg-right-margin-60 {
	margin-right: -60%;
}

.neg-right-margin-70 {
	margin-right: -70%;
}

.neg-right-margin-80 {
	margin-right: -80%;
}

.obj-nowrap {
	white-space: nowrap;
}

.inline-dkt-show {
	display: inline;
}

.block-dkt-show {
	display: block;
}

.fx-block-dkt {
	display: block;
	float: none;
}

.block-dkt-noshow {
	display: none;
}

.inline-dkt-noshow {
	display: none;
}

.inherit-height {
	height: inherit;
}

.motion {
	transition: .2s ease-in;
	-webkit-transition: .2s ease-in;
}

.motion-x {
	transition: .4s ease-in;
	-webkit-transition: .4s ease-in;
}

.motion-xx {
	transition: .6s ease-in;
	-webkit-transition: .6s ease-in;
}

.block-element {
	display: block !important;
}

.flex-element {
	display: flex !important;
}

.inline-flex-element {
	display: inline-flex !important;
}

.inline-grid-element {
	display: inline-grid !important;
}

.table-cell-element {
	display: table-cell !important;
}

.noshow {
	display: none;
}

.scroll {
	overflow: auto;
}

.iscroll {
	overflow: scroll;
}

.noscroll {
	overflow: hidden;
}

.y-scroll {
	overflow-y: auto;
	overflow-x: hidden;
}

.x-scroll {
	overflow-x: auto;
	overflow-y: hidden;
}

.fx-dkt-xscroll {
	overflow: hidden;
}

.fx-dkt-yscroll {
	overflow: hidden;
}

.fx-scroll-width {
	width: 100%;
}

.nobold {
	font-weight: normal;
}

.anchor {
	cursor: pointer;
}

.anchor-df {
	cursor: default;
}

.anchor-mover {
	cursor: move;
}

.nomargin {
	margin: 0 !important;
}


h1,h2,h3,h4,p {
	margin: 3px 0 7px 0;
}

hr.black-line {
	border: 0.02em solid #2d2d2d;
	margin: 20px 0 20px 0;
	display:  block;
}

hr.white-line {
	border: 0.02em solid #fff;
	margin: 20px 0 20px 0;
	display:  block;
}

.ft-tahoma {
	font-family: tahoma !important;
}

.ft-verdana {
	font-family: verdana !important;
}

.ft-arial {
	font-family: arial !important;
}

.ft-Xsize {
	font-size: 1em;
}

.ft-Msize {
	font-size: 1.5em;
}

.ft-Lsize {
	font-size: 2em;
}

.ft-xLsize {
	font-size: 3em;
}

.ft-xxLsize {
	font-size: 5em;
}

.ft-xxxLsize {
	font-size: 10em;
}

a {
	text-decoration: none;
}

a:visited,a:active {
	text-decoration: none;
	outline: 0;
}

img {
	border-color: none;
	border: 0;
}

img.auto-wh {
	width: 100%;
}

img.blury {
	filter: blur(3px);
}


.letter-spacing-1 {
	letter-spacing: 0.2em;
}

.letter-spacing-2 {
	letter-spacing: 0.1em;
}

.rounded-element {
	border-radius: 50%;
	-webkit-border-radius: 50%;
}

.isbold9 {
	font-weight: 900;
}

.isbold7 {
	font-weight: 700;
}

.isbold6 {
	font-weight: 600;
}

.alignlt {
	text-align: left;
}

.alignrt {
	text-align: right;
}

.alignct {
	text-align: center;
}

.alignjf {
	text-align: justify;
}

/* vertical alignment */

.valign-objct {
	align-items: center;
}

.valign-objlt {
	align-items: left;
}

.valign-objrt {
	align-items: right;
}

/* horizontal alignment */

.halign-objct {
	justify-content: center;
}

/* box borders */

.box-border-dashed {
	border: 1px dashed #e1e1e1;
}

.box-border-dark-dashed {
	border: 1px dashed #c9c9c9;
}

.box-border-dark-thick {
	border: 1px solid #c9c9c9;
}

.box-border-thick {
	border: 1px solid #e1e1e1;
}

.box-border-thick-white {
	border: 1px solid #fff !important;
}

.box-border-thick-red {
	border: 1px solid #ff0000 !important;
}

.box-border-thick-blue {
	border: 1px solid #1e90ff !important;
}

.box-border-thick-green {
	border: 1px solid #2e8b57 !important;
}

.box-border-thick-yellow {
	border: 1px solid #FFFF33 !important;
}

.box-border-thick-orange {
	border: 1px solid #ffc253 !important;
}

.box-noborder {
	border: none !important;
	appearance: none !important;
	-webkit-appearance: none !important;
}

.nobordercolor {
	border-color: none !important;
}

.box-border-thick-right {
	border-right: 1px solid #e1e1e1;
}

.box-border-thick-left {
	border-left: 1px solid #e1e1e1;
}

.box-border-thick-top {
	border-top: 1px solid #e1e1e1;
}

.box-border-thick-bottom {
	border-bottom: 1px solid #e1e1e1;
}

.box-border-dark-thick-right {
	border-right: 1px solid #c9c9c9;
}

.box-border-dark-thick-left {
	border-left: 1px solid #c9c9c9;
}

.box-border-dark-thick-top {
	border-top: 1px solid #c9c9c9;
}

.box-border-dark-thick-bottom {
	border-bottom: 1px solid #c9c9c9;
}

.box-border-darker-thick-right {
	border-right: 1px solid #555555;
}

.box-border-darker-thick-left {
	border-left: 1px solid #555555;
}

.box-border-darker-thick-top {
	border-top: 1px solid #555555;
}

.box-border-darker-thick-bottom {
	border-bottom: 1px solid #555555;
}

.box-3border-thick-right {
	border-right: 3px solid #e1e1e1;
}

.box-3border-thick-left {
	border-left: 3px solid #e1e1e1;
}

.box-3border-thick-top {
	border-top: 34px solid #e1e1e1;
}

.box-3border-thick-bottom {
	border-bottom: 3px solid #e1e1e1;
}

.box-6border-thick-right {
	border-right: 6px solid #e1e1e1;
}

.box-6border-thick-left {
	border-left: 6px solid #e1e1e1;
}

.box-6border-thick-top {
	border-top: 6px solid #e1e1e1;
}

.box-6border-thick-bottom {
	border-bottom: 6px solid #e1e1e1;
}

.box-border-thick-bottom-wtps {
	border-bottom: 0.04em solid rgba(255,255,255,0.3);
}

.box-border-thick-bottom-btps {
	border-bottom: 0.04em solid rgba(0,0,0,0.3);
}

blockquote {
	background-color: #e8e8e8;
	margin: 20px 50px 20px 50px;
	padding: 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

blockquote q {
	border-left: 3px solid #999;
	padding: 15px;
	font-size: 18px !important;
	font-weight: 800;
}

/* margin sizes */

.margin-auto-ct {
	margin: 0 auto;
}

.top-push-50x {
	margin-top: 55px;
}

.top-push-50 {
	margin-top: 50px;
}

.top-push-40 {
	margin-top: 40px;
}

.top-push-30 {
	margin-top: 30px;
}

.top-push-20 {
	margin-top: 20px;
}

.top-push-15 {
	margin-top: 15px;
}

.top-push-10 {
	margin-top: 10px;
}

.top-push-7 {
	margin-top: 7px;
}

.top-push-6 {
	margin-top: 6px;
}

.top-push-5 {
	margin-top: 5px;
}

.top-push-3 {
	margin-top: 3px;
}

.top-push-2 {
	margin-top: 2px;
}

.bottom-push-50 {
	margin-bottom: 50px;
}

.bottom-push-40 {
	margin-bottom: 40px;
}

.bottom-push-30 {
	margin-bottom: 30px;
}

.bottom-push-25 {
	margin-bottom: 25px;
}

.bottom-push-20 {
	margin-bottom: 20px;
}

.bottom-push-15 {
	margin-bottom: 15px;
}

.bottom-push-10 {
	margin-bottom: 10px;
}

.bottom-push-7 {
	margin-bottom: 7px;
}

.bottom-push-6 {
	margin-bottom: 6px;
}

.bottom-push-5 {
	margin-bottom: 5px;
}

.bottom-push-3 {
	margin-bottom: 3px;
}

.bottom-push-2 {
	margin-bottom: 2px;
}

.left-push-50x {
	margin-left: 55px;
}

.left-push-50 {
	margin-left: 50px;
}

.left-push-40 {
	margin-left: 40px;
}

.left-push-30 {
	margin-left: 30px;
}

.left-push-25 {
	margin-left: 25px;
}

.left-push-20 {
	margin-left: 20px;
}

.left-push-15 {
	margin-left: 15px;
}

.left-push-10 {
	margin-left: 10px;
}

.left-push-7 {
	margin-left: 7px;
}

.left-push-6 {
	margin-left: 6px;
}

.left-push-5 {
	margin-left: 5px;
}

.left-push-3 {
	margin-left: 3px;
}

.left-push-2 {
	margin-left: 2px;
}

.right-push-50x {
	margin-right: 55px;
}

.right-push-50 {
	margin-right: 50px;
}

.right-push-40 {
	margin-right: 40px;
}

.right-push-30 {
	margin-right: 30px;
}

.right-push-25 {
	margin-right: 25px;
}

.right-push-20 {
	margin-right: 20px;
}

.right-push-15 {
	margin-right: 15px;
}

.right-push-10 {
	margin-right: 10px;
}

.right-push-7 {
	margin-right: 7px;
}

.right-push-6 {
	margin-right: 6px;
}

.right-push-5 {
	margin-right: 5px;
}

.right-push-3 {
	margin-right: 3px;
}

.right-push-2 {
	margin-right: 2px;
}

/* padding sizes */

.top-pull-50 {
	padding-top: 50px;
}

.top-pull-40 {
	padding-top: 40px;
}

.top-pull-30 {
	padding-top: 30px;
}

.top-pull-25 {
	padding-top: 25px;
}

.top-pull-20 {
	padding-top: 30px;
}

.top-pull-15 {
	padding-top: 15px;
}

.top-pull-10 {
	padding-top: 10px;
}

.top-pull-7 {
	padding-top: 7px;
}

.top-pull-5 {
	padding-top: 5px;
}

.top-pull-3 {
	padding-top: 3px;
}

.top-pull-2 {
	padding-top: 2px;
}

.bottom-pull-50 {
	padding-bottom: 50px;
}

.bottom-pull-40 {
	padding-bottom: 40px;
}

.bottom-pull-30 {
	padding-bottom: 30px;
}

.bottom-pull-25 {
	padding-bottom: 25px;
}

.bottom-pull-20 {
	padding-bottom: 20px;
}

.bottom-pull-15 {
	padding-bottom: 15px;
}

.bottom-pull-10 {
	padding-bottom: 10px;
}

.bottom-pull-7 {
	padding-bottom: 7px;
}

.bottom-pull-5 {
	padding-bottom: 5px;
}

.bottom-pull-3 {
	padding-bottom: 3px;
}

.bottom-pull-2 {
	padding-bottom: 2px;
}

.left-pull-50 {
	padding-left: 50px;
}

.left-pull-40 {
	padding-left: 40px;
}

.left-pull-30 {
	padding-left: 30px;
}

.left-pull-25 {
	padding-left: 25px;
}

.left-pull-20 {
	padding-left: 20px;
}

.left-pull-15 {
	padding-left: 15px;
}

.left-pull-10 {
	padding-left: 10px;
}

.left-pull-7 {
	padding-left: 7px;
}

.left-pull-5 {
	padding-left: 5px;
}

.left-pull-3 {
	padding-left: 3px;
}

.left-pull-2 {
	padding-left: 2px;
}

.right-pull-50 {
	padding-right: 50px;
}

.right-pull-40 {
	padding-right: 40px;
}

.right-pull-30 {
	padding-right: 30px;
}

.right-pull-25 {
	padding-right: 25px;
}

.right-pull-20 {
	padding-right: 20px;
}

.right-pull-15 {
	padding-right: 15px;
}

.right-pull-10 {
	padding-right: 10px;
}

.right-pull-7 {
	padding-right: 7px;
}

.right-pull-5 {
	padding-right: 5px;
}

.right-pull-3 {
	padding-right: 3px;
}

.right-pull-2 {
	padding-right: 2px;
}

.pads50 {
	padding: 50px !important;
}

.pads30 {
	padding: 30px !important;
}

.pads20 {
	padding: 20px !important;
}

.pads15 {
	padding: 15px !important;
}

.pads12 {
	padding: 12px !important;
}

.pads10 {
	padding: 10px !important;
}

.pads7 {
	padding: 7px !important;
}

.nopads {
	padding: 0 !important;
}

.automargin {
	margin: auto;
}

.automargin-zeroafter {
	margin: auto 0;
}

.automargin-zerobefore {
	margin: 0 auto;
}

.obj-shadow {
	box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.3);
	-webkit-box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.3);
	-o-box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.3);
}

.obj-light-shadow {
	box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.1);
	-o-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.1);
}

.obj-dark-shadow {
	box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.7);
	-webkit-box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.7);
	-moz-box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.7);
	-o-box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.7);
}

.obj-emboss-black {
	box-shadow: inset 0 0 50px #000;
	-webkit-box-shadow: inset 0 0 50px #000;
	-moz-box-shadow: inset 0 0 50px #000;
}

.obj-emboss-red {
	box-shadow: inset 0 0 50px #b22222;
	-webkit-box-shadow: inset 0 0 50px #b22222;
	-moz-box-shadow: inset 0 0 50px #b22222;
}

.obj-emboss-blue {
	box-shadow: inset 0 0 50px #1e90ff;
	-webkit-box-shadow: inset 0 0 50px #1e90ff;
	-moz-box-shadow: inset 0 0 50px #1e90ff;
}

.top-border-radius-5 {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
}

.top-border-radius-7 {
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	-webkit-border-top-left-radius: 7px;
}

.top-border-radius-20 {
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-webkit-border-top-left-radius: 20px;
}

.top-border-radius-40 {
	border-top-right-radius: 40px;
	border-top-left-radius: 40px;
	-webkit-border-top-right-radius: 40px;
	-webkit-border-top-left-radius: 40px;
}

.right-border-radius-5 {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}

.right-border-radius-7 {
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	-webkit-border-bottom-right-radius: 7px;
}

.right-border-radius-20 {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
}

.right-border-radius-40 {
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
	-webkit-border-top-right-radius: 40px;
	-webkit-border-bottom-right-radius: 40px;
}

.bottom-border-radius-5 {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

.bottom-border-radius-7 {
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	-webkit-border-bottom-right-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
}

.bottom-border-radius-20 {
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
}

.bottom-border-radius-40 {
	border-bottom-right-radius: 40px;
	border-bottom-left-radius: 40px;
	-webkit-border-bottom-right-radius: 40px;
	-webkit-border-bottom-left-radius: 40px;
}

/* background colors */

.white-theme {
	background-color: #fff !important;
}

.grey-theme {
	background-color: #f1f1f1 !important;
}

.grey-1-theme {
	background-color: #f9f9f9 !important;
}

.grey-2-theme {
	background-color: #e8e8e8 !important;
}

.dark-grey-theme {
	background-color: #c1c1c1 !important;
}

.dark-deep-black-theme {
	background-color: #020202 !important;
}

.dark-black-theme {
	background-color: #1d1d1d !important;
}

.black-theme {
	background-color: #2d2d2d !important;
}

.light-red-theme {
	background-color: #ff0000 !important;
}

.red-theme {
	background-color: #b22222 !important;
}

.blue-theme {
	background-color: #1e90ff !important;
}

.royal-blue-theme {
	background-color: #4169e1 !important;
}

.steel-blue-theme {
	background-color: #4682b4 !important;
}

.light-steel-blue-theme {
	background-color: #d4e9ab !important;
}

.slate-blue-theme {
	background-color: #6a5acd !important;
}

.light-slate-blue-theme {
	background-color: #8470ff !important;
}

.dark-blue-theme {
	background-color: #000066 !important;
}

.forest-green-theme {
	background-color: #228b22 !important;
}

.leaf-green-theme {
	background-color: #6b8e23 !important;
}

.sea-green-theme {
	background-color: #2e8b57 !important;
}

.lightsea-green-theme {
	background-color: #8fbc8f !important;
}

.violet-theme {
	background-color: #9400d3 !important;
}

.dark-orange-theme {
	background-color: #ff8c00 !important;
}

.orange-theme {
	background-color: #ffa500 !important;
}

.light-orange-theme {
	background-color: #ffc253 !important;
}

.gold-theme {
	background-color: #ccad00 !important;
}

.light-gold-theme {
	background-color: #e6c300 !important;
}

.yellow-theme {
	background-color: #FFFF33 !important;
}

.light-yellow-theme {
	background-color: #FFFF99 !important;
}

.dark-shadow-theme {
	background-color: #333300 !important;
}

.brown-theme {
	background-color: #330000 !important;
}

.tangerine-theme {
	background-color: #FF3300 !important;
}


/* gradient background theme */

.bkg-theme-gradient {
	background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

.bkg-theme-gradient-x {
	background: repeating-linear-gradient(217deg,#e9e9e9,#777);
}

.white-blue-faded {
	background: linear-gradient(left, #4169e1, rgba(0, 0, 102,.7));
	background: -webkit-linear-gradient(left, #4169e1, rgba(0, 0, 102,.7));
	background: -moz-linear-gradient(left, #4169e1, rgba(0, 0, 102,.7));
	background: -o-linear-gradient(left, #4169e1, rgba(0, 0, 102,.7));
}

.white-grey-faded {
	background: linear-gradient(left, #777, rgba(0, 0, 102,.7));
	background: -webkit-linear-gradient(left, #777, rgba(0, 0, 102,.7));
	background: -moz-linear-gradient(left, #777, rgba(0, 0, 102,.7));
	background: -o-linear-gradient(left, #777, rgba(0, 0, 102,.7));
}


/* text colors */

.white-font {
	color: #fff !important;
}

.light-grey-font {
	color: #f1f1f1 !important;
}

.grey-font {
	color: #c1c1c1 !important;
}

.dark-grey-font {
	color: #777 !important;
}

.black-font {
	color: #2d2d2d !important;
}

.dark-black-font {
	color: #1d1d1d !important;
}

.light-red-font {
	color: #ff0000 !important;
}

.red-font {
	color: #b22222 !important;
}

.blue-font {
	color: #1e90ff !important;
}

.royal-blue-font {
	color: #4169e1 !important;
}

.dark-blue-font {
	color: #000066 !important;
}

.steel-blue-font {
	color: #4682b4 !important;
}

.slate-blue-font {
	color: #6a5acd !important;
}

.light-slate-blue-font {
	color: #8470ff !important;
}

.forest-green-font {
	color: #228b22 !important;
}

.leaf-green-font {
	color: #6b8e23 !important;
}

.sea-green-font {
	color: #2e8b57 !important;
}

.lightsea-green-font {
	color: #8fbc8f !important;
}

.violet-font {
	color: #9400d3 !important;
}

.dark-orange-font {
	color: #ff8c00 !important;
}

.orange-font {
	color: #ffa500 !important;
}

.light-orange-font {
	color: #ffc253 !important;
}

.yellow-font {
	color: #FFFF33 !important;
}

.light-yellow-font {
	color: #FFFF99 !important;
}

/* over-state background color & effect */

.overstate-font-one {
	color: #999;
	transition: .2s ease-in;
	-webkit-transition: .2s ease-in;
}

.overstate-font-one:hover {
	color: #f9f9f9;
}

.overstate-font-two {
	color: #1e90ff;
	transition: .2s ease-in;
	-webkit-transition: .2s ease-in;
}

.overstate-font-two:hover {
	color: #4169e1;
}

.overstate-font-three {
	color: #b22222;
	transition: .2s ease-in;
	-webkit-transition: .2s ease-in;
}

.overstate-font-three:hover {
	color: #ff0000;
}

.overstate-font-four {
	color: #fff;
	transition: .2s ease-in;
	-webkit-transition: .2s ease-in;
}

.overstate-font-four:hover {
	color: #f1f1f1;
}

.overstate-font-five {
	color: #fff;
	transition: .2s ease-in;
	-webkit-transition: .2s ease-in;
}

.overstate-font-five:hover {
	color: #e8e8e8;
}

.overstate-font-six {
	color: #fff;
	transition: .2s ease-in;
	-webkit-transition: .2s ease-in;
}

.overstate-font-six:hover {
	color: #999;
}

.overstate-font-seven {
	color: #1d1d1d;
	transition: .2s ease-in;
	-webkit-transition: .2s ease-in;
}

.overstate-font-seven:hover {
	color: #4169e1;
}

.overstate-font-eigth {
	color: #1d1d1d;
	transition: .2s ease-in;
	-webkit-transition: .2s ease-in;
}

.overstate-font-eigth:hover {
	color: #999;
}

/*background state*/

.overstate-background-one:hover {
	background-color: #fffaf0;
	color: #000;
	transition: .2s ease-in;
	-webkit-transition: .2s ease-in;
}

.overstate-background-two:hover {
	background-color: #e6e6fa;
	color: #000;
	transition: .2s ease-in;
	-webkit-transition: .2s ease-in;
}

.overstate-background-three:hover {
	background-color: #8fbc8f;
	color: #000;
	transition: .2s ease-in;
	-webkit-transition: .2s ease-in;
}

.overstate-background-four:hover {
	background-color: #b0c4de;
	color: #000;
	transition: .2s ease-in;
	-webkit-transition: .2s ease-in;
}

.overstate-background-five:hover {
	background-color: #000;
	color: #ffa500;
	transition: .2s ease-in;
	-webkit-transition: .2s ease-in;
}

.overstate-background-six:hover {
	background-color: #000;
	color: #f1f1f1;
	transition: .2s ease-in;
	-webkit-transition: .2s ease-in;
}

.overstate-background-seven:hover {
	background-color: #2d2d2d;
	color: #f1f1f1;
	transition: .2s ease-in;
	-webkit-transition: .2s ease-in;
}

.overstate-line-draw-bt:hover {
	border-bottom: 3px solid #f5f5dc;
	color: #fff;
	transition: .2s ease-in;
	-webkit-transition: .2s ease-in;
}

.overstate-line-draw-tp:hover {
	border-top: 3px solid #f5f5dc;
	color: #fff;
	transition: .2s ease-in;
	-webkit-transition: .2s ease-in;
}


/* ordered & unordered list */

ul.nolist,ol.nolist {
	list-style-type: none !important;
	padding: 0;
	margin: 0;
}

li {
	margin: 0;
}

/* dropbox menu */

li.drop-box div.th-menu {
	display: none;
	position: relative;
	margin-top: 50px;
	opacity: 0;
}

li.drop-box:hover div.th-menu {
	display: block;
	position: absolute;
	margin-top: 0;
	opacity: 1;
	height: auto;
	min-height: auto;
}

/* transform state */

.rotate-right-10deg {
	transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
}

.rotate-right-20deg {
	transform: rotate(-20deg);
	-webkit-transform: rotate(-20deg);
}

.rotate-right-30deg {
	transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
}

.rotate-right-40deg {
	transform: rotate(-40deg);
	-webkit-transform: rotate(-40deg);
}

.rotate-left-10deg {
	transform: rotate(10deg);
	-webkit-transform: rotate(10deg);
}

.rotate-left-20deg {
	transform: rotate(20deg);
	-webkit-transform: rotate(20deg);
}

.rotate-left-30deg {
	transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
}

.rotate-left-40deg {
	transform: rotate(40deg);
	-webkit-transform: rotate(40deg);
}



/* table css */

table {
	width: 100%;
}

th,td {
	height: 25px !important;
}

th {
	background-color: #555;
	color: #fff;
	font-weight: 550;
	font-size: 13px !important;
}

td {
	border-bottom: 1px solid #e8e8e8;
	font-size: 13px !important;
}


@media screen and (max-width: 480px) {
	
	.inline-dkt-show {
		display: none;
	}

	.block-dkt-show {
		display: none;
	}

	.fx-block-dkt {
		display: inline;
		float: left;
		width: 48.7%;
	}
	
	.block-dkt-noshow {
		display: block;
	}
	
	.inline-dkt-noshow {
		display: inline;
	}
	
	.fx-dkt-xscroll {
		overflow-y: hidden;
		overflow-x: auto;
	}

	.fx-dkt-yscroll {
		overflow-y: auto;
		overflow-x: hidden;
	}

	.fx-scroll-width {
		width: 900px;
	}
}


/* iPad device */
@media only screen and (device-width: 430px) {
	
	.inline-dkt-show {
		display: none;
	}

	.block-dkt-show {
		display: none;
	}

	.fx-block-dkt {
		display: inline;
		float: left;
		width: 48.7%;
	}
	
	.block-dkt-noshow {
		display: block;
	}
	
	.inline-dkt-noshow {
		display: inline;
	}
	
	.fx-dkt-xscroll {
		overflow-y: hidden;
		overflow-x: auto;
	}

	.fx-dkt-yscroll {
		overflow-y: auto;
		overflow-x: hidden;
	}

	.fx-scroll-width {
		width: 900px;
	}
}

/* for additional custom css properties */

.cs-margin-top-60 {
	margin-top: 60px;
}

.cs-margin-top-70 {
	margin-top: 70px;
}

.cs-margin-top-80 {
	margin-top: 80px;
}

.cs-margin-top-90 {
	margin-top: 90px;
}

.cs-margin-top-100 {
	margin-top: 100px;
}

.cs-margin-top-150 {
	margin-top: 150px;
}

.cs-margin-top-200 {
	margin-top: 200px;
}

.cs-margin-top-250 {
	margin-top: 250px;
}

.cs-margin-top-300 {
	margin-top: 300px;
}

.cs-margin-right-100 {
	margin-right: 100px;
}

.cs-margin-right-200 {
	margin-right: 200px;
}

.cs-margin-right-300 {
	margin-right: 300px;
}

.cs-margin-left-100 {
	margin-left: 100px;
}

.cs-margin-left-200 {
	margin-left: 200px;
}

.cs-margin-left-300 {
	margin-left: 300px;
}

.checkbox-option-custom {
	appearance: none;
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	border: 1px solid #0066cc;
}

.checkbox-option-custom:focus {
	border: 3px solid #0066cc;
}

.radio-option-custom {
	appearance: none;
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	border: 1px solid #0066cc;
}

.radio-option-custom:focus {
	border: 3px solid #0066cc;
}

/* width in percentage */

.csp-width-0 {
 	width: 0;
}

.csp-width-20 {
 	width: 20%;
}

.csp-width-30 {
 	width: 30%;
}

.csp-width-70 {
 	width: 70%;
}

.csp-width-80 {
 	width: 80%;
}

.csp-width-100 {
 	width: 100%;
}

/* slide mobile adjust only */

.csp-width-5 {
	width: 5%;
}

.csp-width-95 {
	width: 95%;
}

.csp-width-10 {
	width: 10%;
}

.csp-width-90 {
	width: 90%;
}

.csp-width-x20 {
	width: 20%;
}

.csp-width-x80 {
	width: 80%;
}


/* width in pixels */

.cs-width-5 {
 	width: 5px !important;
}

.cs-width-10 {
 	width: 10px !important;
}

.cs-width-15 {
 	width: 15px !important;
}

.cs-width-20 {
 	width: 20px !important;
}

.cs-width-25 {
 	width: 25px !important;
}

.cs-width-30 {
 	width: 30px !important;
}

.cs-width-35 {
 	width: 35px !important;
}

.cs-width-40 {
 	width: 40px !important;
}

.cs-width-45 {
 	width: 45px !important;
}

.cs-width-50 {
 	width: 50px !important;
}

.cs-width-55 {
 	width: 55px !important;
}

.cs-width-60 {
 	width: 60px !important;
}

.cs-width-65 {
 	width: 65px !important;
}

.cs-width-70 {
 	width: 70px !important;
}

.cs-width-80 {
 	width: 80px !important;
}

.cs-width-90 {
 	width: 90px !important;
}

.cs-width-100 {
 	width: 100px !important;
}

.cs-width-120 {
 	width: 120px !important;
}

.cs-width-130 {
 	width: 130px !important;
}

.cs-width-140 {
 	width: 140px !important;
}

.cs-width-150 {
 	width: 150px !important;
}

.cs-width-180 {
 	width: 180px !important;
}

.cs-width-200 {
 	width: 200px !important;
}

.cs-width-210 {
 	width: 210px !important;
}

.cs-width-220 {
 	width: 220px !important;
}

.cs-width-230 {
 	width: 230px !important;
}

.cs-width-240 {
 	width: 240px !important;
}

.cs-width-250 {
 	width: 250px !important;
}

.cs-width-260 {
 	width: 260px !important;
}

.cs-width-270 {
 	width: 270px !important;
}

.cs-width-280 {
 	width: 280px !important;
}

.cs-width-290 {
 	width: 290px !important;
}

.cs-width-300 {
 	width: 300px !important;
}

.cs-width-350 {
 	width: 350px !important;
}

.cs-width-400 {
 	width: 400px !important;
}

.cs-width-450 {
 	width: 450px !important;
}

.cs-width-500 {
 	width: 500px !important;
}

.cs-width-600 {
 	width: 600px !important;
}

.cs-width-700 {
 	width: 700px !important;
}

.cs-width-800 {
 	width: 800px !important;
}

.cs-width-900 {
 	width: 900px !important;
}

.cs-width-1000 {
 	width: 1000px !important;
}

.cs-width-1200 {
 	width: 1200px !important;
}

.cs-width-1500 {
 	width: 1500px !important;
}

.cs-width-1700 {
 	width: 1700px !important;
}

.cs-width-2000 {
 	width: 2000px !important;
}

.cs-width-2500 {
 	width: 2500px !important;
}

.cs-width-3000 {
 	width: 3000px !important;
}

/* height in pixels */

.cs-height-0 {
 	height: 0;
}

.cs-height-3 {
 	height: 3px !important;
}

.cs-height-5 {
 	height: 5px !important;
}

.cs-height-10 {
 	height: 10px !important;
}

.cs-height-15 {
 	height: 15px !important;
}

.cs-height-20 {
 	height: 20px !important;
}

.cs-height-25 {
 	height: 25px !important;
}

.cs-height-30 {
 	height: 30px !important;
}

.cs-height-35 {
 	height: 35px !important;
}

.cs-height-40 {
 	height: 40px !important;
}

.cs-height-45 {
 	height: 45px !important;
}

.cs-height-50 {
 	height: 50px !important;
}

.cs-height-55 {
 	height: 55px !important;
}

.cs-height-60 {
 	height: 60px !important;
}

.cs-height-65 {
 	height: 65px !important;
}

.cs-height-70 {
 	height: 70px !important;
}

.cs-height-80 {
 	height: 80px !important;
}

.cs-height-90 {
 	height: 90px !important;
}

.cs-height-100 {
 	height: 100px !important;
}

.cs-height-120 {
 	height: 120px !important;
}

.cs-height-130 {
 	height: 130px !important;
}

.cs-height-140 {
 	height: 140px !important;
}

.cs-height-150 {
 	height: 150px !important;
}

.cs-height-180 {
 	height: 180px !important;
}

.cs-height-200 {
 	height: 200px !important;
}

.cs-height-210 {
 	height: 210px !important;
}

.cs-height-220 {
 	height: 220px !important;
}

.cs-height-230 {
 	height: 230px !important;
}

.cs-height-240 {
 	height: 240px !important;
}

.cs-height-250 {
 	height: 250px !important;
}

.cs-height-260 {
 	height: 260px !important;
}

.cs-height-270 {
 	height: 270px !important;
}

.cs-height-280 {
 	height: 280px !important;
}

.cs-height-290 {
 	height: 290px !important;
}

.cs-height-300 {
 	height: 300px !important;
}

.cs-height-310 {
 	height: 310px !important;
}

.cs-height-320 {
 	height: 320px !important;
}

.cs-height-330 {
 	height: 330px !important;
}

.cs-height-350 {
 	height: 350px !important;
}

.cs-height-400 {
 	height: 400px !important;
}

.cs-height-450 {
 	height: 450px !important;
}

.cs-height-500 {
 	height: 500px !important;
}

.cs-height-600 {
 	height: 600px !important;
}

.cs-height-700 {
 	height: 700px !important;
}

.cs-height-800 {
 	height: 800px !important;
}

.cs-height-900 {
 	height: 900px !important;
}

.cs-height-1000 {
 	height: 1000px !important;
}

.cs-height-1200 {
 	height: 1200px !important;
}

.cs-height-1500 {
 	height: 1500px !important;
}

.cs-height-2000 {
 	height: 2000px !important;
}



/* for printing of document only */


@media print {
  
  body * {
    visibility: hidden;
  }

  form {
  	font-size: 13px !important;
  }

  table {
    width: 100% !important;
    border: 1px solid #000000 !important;
    /*border-collapse: separate !important;*/
    border-spacing: 0 !important;
    font-size: 13px !important;
    font-family: Century Gothic Bold !important;
  }

  td, th {
    border-color: #000000 !important;
    border: 1.5px solid #000000 !important;
    font-family: Century Gothic Bold !important;
    height: 25px !important;
}

  #section-to-print, #section-to-print * {
    visibility: visible;
    font-family: Century Gothic Bold !important;
  }

  #section-to-print {
    position: absolute;
    left: 0;
    top: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	padding: 10px;
	z-index: 100000000;
  }

}